html {
	height: 100%;
}

body{
	font-family: arial;
	margin: 0;
	min-height: 100%;
  	display: grid;
  	grid-template-rows: auto;
}

a:hover {
	text-decoration-line: underline;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

header div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header div div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0px 20px 0px 10px;
}

header div div div{
	padding: 5px;
	font-size: 0.8em;
}

#cubes{
	height: 20px;
	width: 20px;
	padding: 15px;
	background-image: url('images/square.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px;
}

#cubes:hover{
	background-image: url('images/square black.png');
	cursor: pointer;

}

.blue_buttons {
	color: white;
	background-color: #457bfe;
	padding: 10px 10px 10px 10px;
	font-size: 0.8em;
	border-radius: 2px;
	border: none;
}


#central{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#logo{
	padding: 80px 0 30px 0;
}

#search_bar{
	display: flex;
	border: solid;
	border-width: 0.8px;
	border-color: #C2C2C2;
	max-width: 585px;
	box-shadow: 3px 3px 10px #DADADA;
}

#search_bar input{
	width: 500px;
	border: none;
	padding: 10px;
	font-size: 1.05em;
}

input:focus, input:focus {
	outline: none;
}

#search_buttons{
	display: flex;
	justify-content: space-between;
}

.grey_buttons:hover {
	text-decoration-line: none;
	color: black;
	cursor: default;
	border-color: #7C7C7C;
	color: black;
}

.grey_buttons:active {
	border-color: royalblue;
}

.grey_buttons{
	margin: 30px 5px 20px 5px;
	padding: 10px 20px 10px 20px;
	background-color: #F3F3F3;
	color: #7F7F7F;
	font-size: 0.8em;
	font-weight: bold;
	border: solid;
	border-width: 0.5px;
	border-color: white;
}

#google_offered {
	font-size: 0.8em;
	margin-bottom: 50px;
}

#google_offered a{
	color: blue;
}

a{
	text-decoration: none;
	color: inherit;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

#privacy{
	display: flex;
	height: 100px;
	justify-content: space-between;
	border-top: solid;
	border-bottom: solid;
	border-width: 0.5px;
	border-color: #D8D8D8;
}

#privacy_logo img{
	vertical-align: middle;
}

#privacy_logo{
	padding-top: 15px;
	font-size: 1.5em;
}

#privacy_buttons{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 15px;
}

#privacy_buttons div {
	display: flex;
}

#remind {
	color : royalblue;
	font-size: 0.8em;
	padding: 10px;
}


#france_bar {
	display: flex;
	background-color: #F3F3F3;
	color: #7F7F7F;
	border-bottom: solid;
	border-width: 0.5px;
	border-color: #D8D8D8;
	padding: 10px 0px 10px 20px;
}

#bottom {
	display: flex;
	justify-content: space-between;
	background-color: #F3F3F3;
}

#bottom div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#bottom div div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.footer_buttons {
	color: #7F7F7F;
	padding: 10px 20px 10px 20px;
	font-size: 0.8em;
}
